{#从上一级目录索引#}
{% extends 'news/base.html' %}


{% block titleblock %}
<title>首页-新经资讯</title>
{% endblock %}


{% block scriptblock %}
<script type="text/javascript" src="../../static/news/js/index.js"></script>
{% endblock %}

{% block categoryblock %}
<ul class="menu fl">
    {% for category in data.category_list %}
    <li class="{% if loop.index0 == 0 %}active{% endif %}" data-cid="{{ category.id }}"><a href="javascript:;">{{ category.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}


{% block contentblock %}
<ul class="list_con fl">
    {# 这里是新闻列表#}
</ul>
{% endblock %}
